<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">{{ 'HEADER.TITLE' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">{{ 'HEADER.HOME' | translate }} </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ 'HEADER.LANGUAGE' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="changeLang('en')">{{ 'HEADER.SELECT_ENGLISH' | translate }}</a>
                    <a class="dropdown-item" (click)="changeLang('hn')">{{ 'HEADER.SELECT_HINDI' | translate }}</a>
                </div>
            </li>
            <app-category (showCategory)="renderShowByCategory($event)"></app-category>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/user/get-prime']">{{ 'HEADER.PRIME' | translate }} </a>
            </li>
            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/user/my-favourites']">{{ 'HEADER.MY_FAV_SHOWS' | translate }} </a>
            </li>
            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/user/my-watched']">{{ 'HEADER.MY_WATCHED_SHOWS' | translate }} </a>
            </li>
            <li class="nav-item active" *ngIf="isAdmin">
                <a class="nav-link" [routerLink]="['/admin/add-show']">{{ 'HEADER.ADD_SHOW' | translate }} </a>
            </li>
            <li class="nav-item active" *ngIf="isAdmin">
                <a class="nav-link" [routerLink]="['/admin/add-prime-offers']">{{ 'HEADER.ADD_PRIME' | translate }} </a>
            </li>
        </ul>
        <app-search-shows (searchText)="searchTextHandler($event)"></app-search-shows>
        &nbsp;&nbsp;
        <div class="login">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="!(isLoggedIn)"
                (click)="login()">{{ 'HEADER.LOGIN' | translate }}</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="isLoggedIn" (click)="logout()">{{
                'HEADER.LOGOUT' | translate }}</button>
        </div>
    </div>
</nav>