.div-data {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.cancel{
    background-color: rgb(181, 79, 79);
}

.fav{
    background-color: rgb(202, 114, 129);
}