<div class="card div-data">
    <div class="mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img width="400px" height="600px" src={{show.imgUrl}} class="img-fluid rounded-start"
                    alt="Photo of a Show">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="remove-icon">
                        <h5 class="card-title title">{{show.name}}</h5>
                        <div class="remove" *ngIf="show.isAvailableOnPrime">
                            <img width="50px" height="50px" src="/assets/images/primeLogo.png" class="img-fluid rounded-start"
                                alt="Photo of a Show">
                        </div>
                    </div>
                    <div class="priceRating">
                        <h3>{{show.title}}</h3>
                        <app-imdb-rating [imdbRating]="show.imdbRating" class="ratings"></app-imdb-rating>
                    </div>
                    <div class="productQuantity">
                        <h6><b>{{ 'HOME.GENRE' | translate }}:</b> {{show.genre}}</h6>
                    </div>
                    <div class="productQuantity">
                        <h6><b>{{ 'HOME.LANGUAGE' | translate }}:</b> {{show.language}}</h6>
                    </div>
                    <p class="card-text">{{show.description}}</p>
                    <app-reviews [showReviews]="show.showReviews"></app-reviews>

                    <mat-card-actions class="addCartButton">
                        <button mat-raised-button class="fav" (click)="markShowAsFav(show.id)"
                            *ngIf="!(markShowAsFavourite)">
                            <mat-icon>favorite_border</mat-icon>{{ 'HOME.MARK_FAVOURITE' | translate }}
                        </button>
                        <button class="btn btn-success cartButton" mat-button (click)="viewFavShows()"
                            *ngIf="markShowAsFavourite">
                            <mat-icon>favorite</mat-icon>{{ 'HOME.VIEW_FAV_SHOWS' | translate }}
                        </button>
                        <button mat-button (click)="addShowToWatchList(show.id)" class="watch"
                            *ngIf="!(markShowAsWatched)" [disabled]="!showWatchButton">
                            <mat-icon>visibility</mat-icon>{{ 'HOME.MARK_WATCHED' | translate }}
                        </button>
                        <button class="watch" mat-button (click)="viewWatchedShows()" *ngIf="markShowAsWatched">
                            <mat-icon>visibility_off</mat-icon>{{ 'HOME.VIEW_WATCHED_SHOWS' | translate }}
                        </button>
                        <button mat-raised-button class="cancel" [routerLink]="['/shows']">
                            <mat-icon>home</mat-icon>{{ 'SIGNUP.CANCEL' | translate }}
                        </button>
                        <app-write-review [showId]="show.id" *ngIf="markShowAsWatched"></app-write-review>
                    </mat-card-actions>
                </div>
            </div>
        </div>
    </div>
</div>