<div class="card div-data" *ngIf="myFavShows.length > 0">
    <h4>{{ 'HOME.MY_FAV_SHOWS' | translate }}</h4>
    <div class="card mb-3" *ngFor="let show of myFavShows;let i = index">
        <div class="row g-0">
            <div class="col-md-2">
                <img width="90%" height="100%" src="{{show.imgUrl}}" class="img-fluid rounded-start"
                    alt="{{show.name}}">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="remove-icon">
                        <h5 class="card-title title">{{show.name}}</h5>
                        <button class="remove" mat-fab color="warning" (click)="removeShowFromMyFavList(show.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <p class="card-text">{{show.description}}</p>
                    <div class="item-price">
                        {{ show.genre }}
                    </div>
                    <div class="item-price">
                        {{ show.language }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="show-page-content extra" *ngIf="myFavShows.length == 0">
    <h4>{{ 'HOME.NO_FAV_SHOW_FOUND' | translate }}</h4>
    <a routerLink="/">{{ 'HOME.CONTINUE_BROWSING' | translate }}</a>
</div>