.card-group{
    margin-top: 10px;
    margin-left: 20px;
  }
  .example-card {
      max-width: 400px;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
    }
    
    .example-header-image {
      background-size: cover;
    }
  
    .image, .header {
      cursor: pointer;
   }
    